<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WMP_Finals"
        tools:targetApi="31">
        <activity
            android:name=".recyclerSeeBookTemplate_want"
            android:exported="false"
            android:parentActivityName=".recycler_want">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".recycler_want"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".recyclerSeeBookTemplate_already"
            android:exported="false"
            android:parentActivityName=".recycler_already">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".recycler_already"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".recyclerSeeBookTemplate_favorite"
            android:exported="false"
            android:parentActivityName=".recycler_favorite">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".recycler_favorite"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".recyclerSeeBookTemplate_current"
            android:exported="false"
            android:parentActivityName=".recycler_current">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".recycler_current"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".recyclerSeeBookTemplate"
            android:exported="false"
            android:parentActivityName=".recycler">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".recycler"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>